 {% load static %}

                  {% for j in obj %}
                    {% if j.wa_id == j.m_from %}
                      <div class="direct-chat-msg">
                          <div class="direct-chat-infos clearfix">
                      <span class="direct-chat-name float-left">{{ j.name }}</span>
                      <span class="direct-chat-timestamp float-right">{{j.timestamp1}}</span>
                    </div>
                          <img class="direct-chat-img" src="static/img/default_user_icon.png" >
                    {% else %}
                         <div class="direct-chat-msg right">
                             <div class="direct-chat-infos clearfix">
                      <span class="direct-chat-name float-right">Tagloy</span>
                      <span class="direct-chat-timestamp float-left">{{j.timestamp1}}</span>
                    </div>
                    <img class="direct-chat-img" src="static/img/default_user_icon.png" >
                     {% endif %}

                    <!-- /.direct-chat-infos -->

                    <!-- /.direct-chat-img -->
                    <div class="direct-chat-text">
                        {% if j.m_type == "image" %}
                            {% if j.m_url == 'media/image/' %}
                            <img src="{{j.m_url}}{{j.m_fileName}}" class="img-fluid" width="200" onclick="$('#media_view_{{j.id}}').modal('show'); $('#media_view_{{j.id}}').appendTo('body');" />
                            {% else %}
                            <img src="{{j.m_url}}" class="img-fluid" width="200" onclick="$('#media_view_{{j.id}}').modal('show'); $('#media_view_{{j.id}}').appendTo('body');" />
                            {% endif %}
                            {{j.message}}
                        {% elif j.m_type == "text" %}
                            {{j.message}}
                        {% elif j.m_type == "video" %}
                            <video  height="200" controls>
                                {% if j.m_url == 'media/video/' %}
                                    <source src="{{j.m_url}}{{j.m_fileName}}" type="video/mp4">
                                {% else %}
                                    <source src="{{j.m_url}}" type="video/mp4">
                                {% endif %}
                              Your browser does not support the video tag.
                            </video>
                            {{j.message}}
                         {% elif j.m_type == "document" %}
                              {% if j.m_url == 'media/documents/' %}
                                <a href="{{j.m_url}}{{j.m_fileName}}" target="_blank">
                                <img src="static/img/file-empty.png" class="img-fluid" style="height:200px" /></a>
                              {% else %}
                                <a href="{{j.m_url}}" target="_blank">
                                <img src="static/img/file-empty.png" class="img-fluid" style="height:200px" /></a>
                              {% endif %}
                             {{j.message}}
                        {% endif %}
                    </div>
                    <!-- /.direct-chat-text -->
                  </div>
                    <div id="media_view_{{j.id}}" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content" >
                          <div class="modal-header">
                            <h4 class="modal-title">{{j.message}}</h4>
                            <h5 class="modal-title">({{j.wa_id}})</h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                          </div>
                          <div class="modal-body">
                               {% if j.m_url == "media/image/" %}
                                <img class="img-fluid" src="{{j.m_url}}{{j.m_fileName}}" />
                               {% else %}
                                <img class="img-fluid" src="{{j.m_url}}" />
                              {% endif %}
                          </div>
                        </div>
                      </div>
                    </div>
                  <!-- /.direct-chat-msg -->
                  {% endfor %}



