 {% load static %}

 

                  {% for j in obj %}
                  
                    {% if j.wa_id == j.m_from %}
                      <div class="direct-chat-msg">
                          <div class="direct-chat-infos clearfix">
                      <span class="direct-chat-name float-left">{{ j.name }}</span>
                       <span class="direct-chat-timestamp float-left" style="padding-left:15px; font-size:10px; ">{{j.timestamp1}}</span> 
                    </div>
                          <img class="direct-chat-img" src="static/img/default_user_icon.png" >
                    {% else %}
                    {% for k in user_detail_model%}
                         <div class="direct-chat-msg right">
                             <div class="direct-chat-infos clearfix">
                      <span class="direct-chat-name float-right">{{k.comp_name}}</span>
                      <span class="direct-chat-timestamp float-right" style="padding-right:30px;font-size:10px;" >{{j.timestamp1}}</span>
                    </div>
                    {% comment %} <img class="direct-chat-img" src="static/img/default_user_icon.png" > {% endcomment %}
                    
                     <img class="direct-chat-img" src="media/{{ k.user_img }}" >
                     {% endfor%} 
                    
                    
                     {% endif %}  
                     
                     

                    <!-- /.direct-chat-infos -->

                    <!-- /.direct-chat-img -->
                    <div class="direct-chat-text" style="width:auto;">
                        {% if j.m_type == "image" %}
                            {% if j.m_url == 'media/image/' %}                            
                            <img src="{{j.m_url}}{{j.m_fileName}}" class="img-fluid" width="200" onclick="$('#media_view_{{j.id}}').modal('show'); $('#media_view_{{j.id}}').appendTo('body');" /><br>{{j.caption}}

                              {% if j.unique_msg_status == "sent" %}
                              <span data-testid="msg-check" aria-label=" Sent " data-icon="msg-check" class=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 15" width="16" height="15"><path fill="currentColor" d="M10.91 3.316l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.879a.32.32 0 0 1-.484.033L1.891 7.769a.366.366 0 0 0-.515.006l-.423.433a.364.364 0 0 0 .006.514l3.258 3.185c.143.14.361.125.484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z"></path></svg></span>
                              {% elif j.unique_msg_status == "delivered" %}
                              <span data-testid="msg-dblcheck" aria-label=" Delivered " data-icon="msg-dblcheck" class=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 15" width="16" height="15"><path fill="currentColor" d="M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.879a.32.32 0 0 1-.484.033l-.358-.325a.319.319 0 0 0-.484.032l-.378.483a.418.418 0 0 0 .036.541l1.32 1.266c.143.14.361.125.484-.033l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.879a.32.32 0 0 1-.484.033L1.891 7.769a.366.366 0 0 0-.515.006l-.423.433a.364.364 0 0 0 .006.514l3.258 3.185c.143.14.361.125.484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z"></path></svg></span>
                              {% elif j.unique_msg_status == "read" %}
                              <span data-testid="msg-dblcheck" aria-label=" Read " data-icon="msg-dblcheck" style="color:#4fc3f7" ><svg xmlns="http://www.w3.org/2000/svg" style="color:blue;" viewBox="0 0 16 15" width="16" height="15"><path fill="currentColor" d="M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.879a.32.32 0 0 1-.484.033l-.358-.325a.319.319 0 0 0-.484.032l-.378.483a.418.418 0 0 0 .036.541l1.32 1.266c.143.14.361.125.484-.033l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.879a.32.32 0 0 1-.484.033L1.891 7.769a.366.366 0 0 0-.515.006l-.423.433a.364.364 0 0 0 .006.514l3.258 3.185c.143.14.361.125.484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z"></path></svg></span>
                              
                              {% elif j.unique_msg_status == "failed" %}
                              <span style="float:right; font-size:10px; position: absolute; bottom: 0; right: 0; width: 100px;color:black;">failed</span>
                              {% endif %}



                             {% comment %} <span style="float:right; font-size:9.5px; position: absolute; bottom: 0; right: 0; width: 100px; color:grey;">{{j.timestamp1}}</span> {% endcomment %}
                            {% else %}
                            <img src="{{j.m_url}}" class="img-fluid" width="200" onclick="$('#media_view_{{j.id}}').modal('show'); $('#media_view_{{j.id}}').appendTo('body');" /><br>{{j.caption}}
                             {% comment %} <span style="float:right; font-size:10px; position: absolute; bottom: 0; right: 0; width: 100px; color:grey;">{{j.timestamp1}}</span> {% endcomment %}
                            {% endif %}
                            {{j.message}}                             
                        {% elif j.m_type == "text" %}
                            {{j.message}} 
                            {% if j.unique_msg_status == "sent" %}
                              <span data-testid="msg-check" aria-label=" Sent " data-icon="msg-check" class=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 15" width="16" height="15"><path fill="currentColor" d="M10.91 3.316l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.879a.32.32 0 0 1-.484.033L1.891 7.769a.366.366 0 0 0-.515.006l-.423.433a.364.364 0 0 0 .006.514l3.258 3.185c.143.14.361.125.484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z"></path></svg></span>
                              {% elif j.unique_msg_status == "delivered" %}
                              <span data-testid="msg-dblcheck" aria-label=" Delivered " data-icon="msg-dblcheck" class=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 15" width="16" height="15"><path fill="currentColor" d="M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.879a.32.32 0 0 1-.484.033l-.358-.325a.319.319 0 0 0-.484.032l-.378.483a.418.418 0 0 0 .036.541l1.32 1.266c.143.14.361.125.484-.033l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.879a.32.32 0 0 1-.484.033L1.891 7.769a.366.366 0 0 0-.515.006l-.423.433a.364.364 0 0 0 .006.514l3.258 3.185c.143.14.361.125.484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z"></path></svg></span>
                              {% elif j.unique_msg_status == "read" %}
                              <span data-testid="msg-dblcheck" aria-label=" Read " data-icon="msg-dblcheck" style="color:#4fc3f7" ><svg xmlns="http://www.w3.org/2000/svg" style="color:blue;" viewBox="0 0 16 15" width="16" height="15"><path fill="currentColor" d="M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.879a.32.32 0 0 1-.484.033l-.358-.325a.319.319 0 0 0-.484.032l-.378.483a.418.418 0 0 0 .036.541l1.32 1.266c.143.14.361.125.484-.033l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.879a.32.32 0 0 1-.484.033L1.891 7.769a.366.366 0 0 0-.515.006l-.423.433a.364.364 0 0 0 .006.514l3.258 3.185c.143.14.361.125.484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z"></path></svg></span>
                              
                              {% elif j.unique_msg_status == "failed" %}
                              <span style="float:right; font-size:10px; position: absolute; bottom: 0; right: 0; width: 100px;color:black;">failed</span>
                              {% endif %}
                            
                            
                            
                            {% comment %} <div style="float:right; font-size:9.5px; margin-top:20px;position: absolute; bottom: 0; right: 0; color:grey;">{{j.timestamp1}}</div> {% endcomment %}
                        {% elif j.m_type == "video" %}
                            
                                {% if j.m_url == 'media/video/' %}
                                      
                                      <video  height="200" controls>
                                          <source src="{{j.m_url}}{{j.m_fileName}}" type="video/mp4">
                                          </video><br><span>{{j.caption}}</span>

                                          {% if j.unique_msg_status == "sent" %}
                                    <span data-testid="msg-check" aria-label=" Sent " data-icon="msg-check" class=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 15" width="16" height="15"><path fill="currentColor" d="M10.91 3.316l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.879a.32.32 0 0 1-.484.033L1.891 7.769a.366.366 0 0 0-.515.006l-.423.433a.364.364 0 0 0 .006.514l3.258 3.185c.143.14.361.125.484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z"></path></svg></span>
                                    {% elif j.unique_msg_status == "delivered" %}
                                    <span data-testid="msg-dblcheck" aria-label=" Delivered " data-icon="msg-dblcheck" class=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 15" width="16" height="15"><path fill="currentColor" d="M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.879a.32.32 0 0 1-.484.033l-.358-.325a.319.319 0 0 0-.484.032l-.378.483a.418.418 0 0 0 .036.541l1.32 1.266c.143.14.361.125.484-.033l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.879a.32.32 0 0 1-.484.033L1.891 7.769a.366.366 0 0 0-.515.006l-.423.433a.364.364 0 0 0 .006.514l3.258 3.185c.143.14.361.125.484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z"></path></svg></span>
                                    {% elif j.unique_msg_status == "read" %}
                                    <span data-testid="msg-dblcheck" aria-label=" Read " data-icon="msg-dblcheck" style="color:#4fc3f7" ><svg xmlns="http://www.w3.org/2000/svg" style="color:blue;" viewBox="0 0 16 15" width="16" height="15"><path fill="currentColor" d="M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.879a.32.32 0 0 1-.484.033l-.358-.325a.319.319 0 0 0-.484.032l-.378.483a.418.418 0 0 0 .036.541l1.32 1.266c.143.14.361.125.484-.033l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.879a.32.32 0 0 1-.484.033L1.891 7.769a.366.366 0 0 0-.515.006l-.423.433a.364.364 0 0 0 .006.514l3.258 3.185c.143.14.361.125.484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z"></path></svg></span>
                                    {% elif j.unique_msg_status == "failed" %}
                              <span style="float:right; font-size:10px; position: absolute; bottom: 0; right: 0; width: 100px;color:black;">failed</span>
                                    {% endif %}

                                     {% comment %} <span style="float:right; font-size:10px; position: absolute; bottom: 0; right: 0; width: 100px; color:grey;">{{j.timestamp1}}</span> {% endcomment %}
                                {% else %}
                                    <source src="{{j.m_url}}" type="video/mp4">{{j.caption}}
                                     {% comment %} <span style="float:right; font-size:10px; position: absolute; bottom: 0; right: 0; width: 100px;color:grey;">{{j.timestamp1}}</span> {% endcomment %}
                                {% endif %}                              
                               {% comment %} <span style="float:right; font-size:10px; position: absolute; bottom: 0; right: 0; width: 100px;color:grey;">{{j.timestamp1}}</span> {% endcomment %}
                            
                            {{j.message}}
                         {% elif j.m_type == "document" %}
                              {% if j.m_url == 'media/documents/' %}


                                <a href="{{j.m_url}}{{j.m_fileName}}" target="_blank">
                                <img src="static/img/file-empty.png" class="img-fluid" style="height:40px" /></a><br>{{j.caption}}


                                {% if j.unique_msg_status == "sent" %}
                              <span data-testid="msg-check" aria-label=" Sent " data-icon="msg-check" class=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 15" width="16" height="15"><path fill="currentColor" d="M10.91 3.316l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.879a.32.32 0 0 1-.484.033L1.891 7.769a.366.366 0 0 0-.515.006l-.423.433a.364.364 0 0 0 .006.514l3.258 3.185c.143.14.361.125.484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z"></path></svg></span>
                              {% elif j.unique_msg_status == "delivered" %}
                              <span data-testid="msg-dblcheck" aria-label=" Delivered " data-icon="msg-dblcheck" class=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 15" width="16" height="15"><path fill="currentColor" d="M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.879a.32.32 0 0 1-.484.033l-.358-.325a.319.319 0 0 0-.484.032l-.378.483a.418.418 0 0 0 .036.541l1.32 1.266c.143.14.361.125.484-.033l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.879a.32.32 0 0 1-.484.033L1.891 7.769a.366.366 0 0 0-.515.006l-.423.433a.364.364 0 0 0 .006.514l3.258 3.185c.143.14.361.125.484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z"></path></svg></span>
                              {% elif j.unique_msg_status == "read" %}
                              <span data-testid="msg-dblcheck" aria-label=" Read " data-icon="msg-dblcheck" style="color:#4fc3f7" ><svg xmlns="http://www.w3.org/2000/svg" style="color:blue;" viewBox="0 0 16 15" width="16" height="15"><path fill="currentColor" d="M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.879a.32.32 0 0 1-.484.033l-.358-.325a.319.319 0 0 0-.484.032l-.378.483a.418.418 0 0 0 .036.541l1.32 1.266c.143.14.361.125.484-.033l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.879a.32.32 0 0 1-.484.033L1.891 7.769a.366.366 0 0 0-.515.006l-.423.433a.364.364 0 0 0 .006.514l3.258 3.185c.143.14.361.125.484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z"></path></svg></span>
                              {% elif j.unique_msg_status == "failed" %}
                              <span style="float:right; font-size:10px; position: absolute; bottom: 0; right: 0; width: 100px;color:black;">failed</span>
                              {% endif %}
                                 {% comment %} <span style="float:right; font-size:9.5px; position: absolute; bottom: 0; right: 0; width: 100px;color:grey;">{{j.timestamp1}}</span> {% endcomment %}
                              {% else %}
                                <a href="{{j.m_url}}" target="_blank">
                                <img src="static/img/file-empty.png" class="img-fluid" style="height:40px" /></a><br>{{j.caption}}
                                 {% comment %} <span style="float:right; font-size:10px; position: absolute; bottom: 0; right: 0; width: 100px;color:grey;">{{j.timestamp1}}</span> {% endcomment %}
                              {% endif %}
                             {{j.message}}
                              
                          {% elif j.m_type == "audio" or j.m_type == "voice" %}
                              {% if j.m_url == 'media/voice/' %}                             
                                
                                <audio controls>  <source src="{{j.m_url}}{{j.m_fileName}}" type="audio/ogg">
                                    Your browser does not support the audio element.
                                     {% comment %} <span style="float:right; font-size:9.5px; position: absolute; bottom: 0; right: 0; width: 100px;color:grey;">{{j.timestamp1}}</span> {% endcomment %}
                                </audio>{{j.caption}}

                                      {% if j.unique_msg_status == "sent" %}
                                    <span data-testid="msg-check" aria-label=" Sent " data-icon="msg-check" class=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 15" width="16" height="15"><path fill="currentColor" d="M10.91 3.316l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.879a.32.32 0 0 1-.484.033L1.891 7.769a.366.366 0 0 0-.515.006l-.423.433a.364.364 0 0 0 .006.514l3.258 3.185c.143.14.361.125.484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z"></path></svg></span>
                                    {% elif j.unique_msg_status == "delivered" %}
                                    <span data-testid="msg-dblcheck" aria-label=" Delivered " data-icon="msg-dblcheck" class=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 15" width="16" height="15"><path fill="currentColor" d="M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.879a.32.32 0 0 1-.484.033l-.358-.325a.319.319 0 0 0-.484.032l-.378.483a.418.418 0 0 0 .036.541l1.32 1.266c.143.14.361.125.484-.033l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.879a.32.32 0 0 1-.484.033L1.891 7.769a.366.366 0 0 0-.515.006l-.423.433a.364.364 0 0 0 .006.514l3.258 3.185c.143.14.361.125.484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z"></path></svg></span>
                                    {% elif j.unique_msg_status == "read" %}
                                    <span data-testid="msg-dblcheck" aria-label=" Read " data-icon="msg-dblcheck" style="color:#4fc3f7" ><svg xmlns="http://www.w3.org/2000/svg" style="color:blue;" viewBox="0 0 16 15" width="16" height="15"><path fill="currentColor" d="M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.879a.32.32 0 0 1-.484.033l-.358-.325a.319.319 0 0 0-.484.032l-.378.483a.418.418 0 0 0 .036.541l1.32 1.266c.143.14.361.125.484-.033l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.879a.32.32 0 0 1-.484.033L1.891 7.769a.366.366 0 0 0-.515.006l-.423.433a.364.364 0 0 0 .006.514l3.258 3.185c.143.14.361.125.484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z"></path></svg></span>
                                    {% elif j.unique_msg_status == "failed" %}
                                    <span style="float:right; font-size:10px; position: absolute; bottom: 0; right: 0; width: 100px;color:black;">failed</span>
                                    {% endif %}


                              {% else %}
                                <a href="{{j.m_url}}" target="_blank">
                                <img src="static/img/audio-favicon.webp" class="img-fluid" style="height:40px" /></a>{{j.caption}}
                                 {% comment %} <span style="float:right; font-size:10px; position: absolute; bottom: 0; right: 0; width: 100px;color:grey;">{{j.timestamp1}}</span> {% endcomment %}
                              {% endif %}
                             {{j.message}}   
                              {% comment %} <span style="float:right; font-size:10px; position: absolute; bottom: 0; right: 0; width: 100px;color:grey;">{{j.timestamp1}}</span> {% endcomment %}
                        {% endif %}
                    </div>
                    <!-- /.direct-chat-text -->
                  </div>
                    <div id="media_view_{{j.id}}" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content" >
                          <div class="modal-header">
                            <h4 class="modal-title">{{j.message}}</h4>
                            <h5 class="modal-title">({{j.wa_id}})</h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                          </div>
                          <div class="modal-body">
                               {% if j.m_url == "media/image/" %}
                                <img class="img-fluid" src="{{j.m_url}}{{j.m_fileName}}" />
                               {% else %}
                                <img class="img-fluid" src="{{j.m_url}}" />
                              {% endif %}
                          </div>
                        </div>
                      </div>
                    </div>
                  <!-- /.direct-chat-msg -->
                  
                  
                  {% endfor %}
                  

                  



